body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(255, 255, 255);
}

p {
  display: flex;
  padding: 0 15px 0 15px;
  max-width: 90vw;
}

.single-message {
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  padding: 5px;
}

.message-item {
  display: flex;
  padding: 0 7px 0 7px;
  font-family: 'PT Sans', sans-serif;
}

#timestamp {
  width: 20vw;
}

#user-name {
  font-weight: 700;
  width: 10vw;
  text-align: left;
}

#user-message {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  text-align: left;
}
